* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393E46;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:4rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.dice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.player-name {
  font-size: 2rem;
  text-align: center;
  color: #4ECCA3;
  font-family: 'Andada Pro', cursive;
}

img {
  width: 80%;
}

.refresh {
  color: #4ECCA3;
  font-size: 1.4rem;
  font-family: 'Lobster', cursive;
}


